.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-hero-item {
  padding: 4rem 0rem 4rem 4rem;
  background: var(--green);
  border-right: 3px solid var(--dark);
}

.right-hero-item {
  display: grid;
  place-items: center;
}

.sub-text {
  font-weight: 300;
  font-family: "Montserrat";
  font-size: 3vw;
  line-height: 0.1rem;
}

.ux-text {
  font-size: 5vw;
  position: relative;
  top: 2.25rem;
  z-index: -1;
}

.keep-scrolling-badge {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--light);
  border: 3px solid var(--dark);
  box-shadow: 5px 5px 0px var(--dark);
}
