.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
}

.mobile-menu a {
  padding: 1rem;
  color: var(--light);
}

.menu-enter {
  height: 0vh;
}
.menu-enter-active {
  height: 100vh;
  transition: 200ms;
}
.menu-exit {
  height: 100vh;
}
.menu-exit-active {
  height: 0vh;
  transition: 200ms;
}

.divider {
  border-top: 1px solid var(--neutral);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
