
.copyright-wrapper {
  width: 100vw;
  height: 500px;
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 0px 20px 3px rgb(48, 48, 48);
}

.copyright-wrapper > .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 55%;
  background: #284052;
  color: white;
}

.copyright-wrapper > .top > .header {
  width: 100%;
  height: 30%;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top > .links {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top > .links > .link {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top > .links > .instagram a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  transition: 0.3s ease;
}

.top > .links > .twitter a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  transition: 0.3s ease;
}

.top > .links > .facebook a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  transition: 0.3s ease;
}

.top > .links > .google a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  transition: 0.3s ease;
}

.top > .links > .instagram a:hover {
  color: #3f729b; 
}

.top > .links > .twitter a:hover {
  color: #00acee;
}

.top > .links > .facebook a:hover {
  color: #3b5998;
}

.top > .links > .google a:hover {
  color: #db4a39;
}

.copyright-wrapper > .bottom {
  padding: 10px;
  width: 100vw;
  height: 45%;
  background: #2D545C;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-indent: 50px;
  color: white;
}

.copyright-wrapper > .bottom > .right {
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.copyright-wrapper > .bottom > .right > .header {
  width: 30%;
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.copyright-wrapper > .bottom > .right > .links {
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright-wrapper > .bottom > .right > .links a {
  color: white;
  text-decoration: none;
  transition: 0.1s ease;
}

.copyright-wrapper > .bottom > .right > .links a:hover {
  color: #db4a39;
}