
body {
  background:#191919;
}


.login-form-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 70vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #B2B09B;
  border-radius: 10px;
}

.login-form-wrapper > form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* seth is the best */
}

/* Form Group One */
.login-form-wrapper > form > .form-group-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
}

.login-form-wrapper > form > .form-group-1 > .header-text {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #254441;
  font-size: 2.1rem;
  font-weight: 900;
}

/* Form Group Two */

.login-form-wrapper > form > .form-group-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.login-form-wrapper > form > .form-group-2 > .username-field {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-form-wrapper > form > .form-group-2 > .pass-field {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-form-wrapper > form > .form-group-2 > .confirm-pass-field {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-form-wrapper > form > .form-group-2 > .remember-me {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #191919;
  outline: none;
  font-weight: 900;
}

.login-form-wrapper > form > .form-group-2 input[type="text"], [type="password"] {
  width: 85%;
  height: 60%;
  border-radius: 5px;
  border: none;
  text-indent: 10px;
  border-bottom: 3px solid #fff;
  outline: none;
  transition: 0.3s ease;
  background: #191919;
  color: white;
}

.login-form-wrapper > form > .form-group-2 input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.login-form-wrapper > form > .form-group-2 input::placeholder {
  color: rgb(204, 204, 204);
}

.login-form-wrapper > form > .form-group-2 input[type="text"]:focus {
  width: 95%;
  border-radius: 10px;
  border-bottom: 3px solid #254441;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.login-form-wrapper > form > .form-group-2 input[type="password"]:focus {
  width: 95%;
  border-radius: 10px;
  border-bottom: 3px solid #254441;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* Form Group three */

.login-form-wrapper > form > .form-group-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 25%;
  overflow: hidden;
}

.login-form-wrapper > form > .form-group-3 > .submit-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-form-wrapper > form > .form-group-3 input[type="submit"] {
  width: 85%;
  height: 40%;
  border-radius: 5px;
  border: none;
  text-indent: 10px;
  border-bottom: 3px solid #fff;
  color: white;
  outline: none;
  transition: 0.3s ease;
  background: #191919;
}

.login-form-wrapper > form > .form-group-3 input[type="submit"]:hover {
  width: 95%;
  border-radius: 10px;
  border-bottom: 3px solid #254441;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}