
.top-nav-bar {
    width: 100vw;
    height: 70px;
    color: white;
    /* background: #FFF07C; */
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: #101010; */
  }
  
  /* left column */
  
  .top-nav-bar > .left {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .top-nav-bar > .left > .links {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .top-nav-bar > .left > .links > .link {
    width: auto;
    height: 100%;
    border-bottom: 5px solid #10101000;
    color: #80FF72;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.3s ease;
  }
  
  .top-nav-bar > .left > .links > .link-active {
    width: auto;
    height: 100%;
    color: #80FF72;
    border-bottom: 5px solid #80FF72;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .top-nav-bar > .left > .links > .link-active a {
    color: #fff;
    text-decoration: none;
  }
  
  .top-nav-bar > .left > .links > .link-active span {
    color: #80FF72;
    text-decoration: none;
    margin-left: 4px;
  }
  
  .top-nav-bar > .left > .links> .link:hover {
    border-bottom: 5px solid #80FF72;
  }
  
  .top-nav-bar > .left > .links > .link a {
    color: #fff;
    text-decoration: none;
  }
  
  .top-nav-bar > .left > .links > .link span {
    color: #80FF72;
    text-decoration: none;
    margin-left: 4px;
  }
  
  
  /* center column */
  
  .top-nav-bar > .center {
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #E58C8A;
    font-size: 3rem;
  }
  
  .top-nav-bar > .center > .logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }
  
  .top-nav-bar > .center > .logo:hover {
    cursor: default;
  }
  
  .top-nav-bar > .center > .logo span {
    color: #ffe865;
    font-weight: lighter;
  }
  
  /* right column */
  
  .top-nav-bar > .right {
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #80FF72;
  }
  
  .top-nav-bar > .right > .links {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .top-nav-bar > .right > .links > .link {
    width: auto;
    height: 100%;
    border-bottom: 5px solid #10101000;
    color: #80FF72;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.3s ease;
  }
  
  .top-nav-bar > .right > .links > .link-active {
    width: auto;
    height: 100%;
    color: #80FF72;
    border-bottom: 5px solid #10101000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .top-nav-bar > .right > .links > .link-active a {
    color: #fff;
    text-decoration: none;
  }
  
  .top-nav-bar > .right > .links > .link-active span {
    color: #80FF72;
    text-decoration: none;
    margin-left: 4px;
  }
  
  .top-nav-bar > .right > .links> .link:hover {
    border-bottom: 5px solid #80FF72;
  }
  
  .top-nav-bar > .right > .links > .link a {
    color: #fff;
    text-decoration: none;
  }
  
  .top-nav-bar > .right > .links > .link span {
    color: #80FF72;
    text-decoration: none;
    margin-left: 4px;
  }