
.navigation-wrapper {
    width: 100vw;
    height: 116px;
    background: #8C1C13;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Left Column Styles */

.navigation-wrapper > .left-column {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    /* color: #BF4342; */
}

.navigation-wrapper > .left-column > .name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: #E7D7C1;
    font-size: 1.6rem;
}

.navigation-wrapper > .left-column span {
    font-weight: 900;
    color: #A78A7F;
}

/* Right Column Styles */

.navigation-wrapper > .right-column {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.2rem;
}

.navigation-wrapper > .right-column a{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: #E7D7C1;
    text-decoration: none;
    transition: 0.3s ease;
}

.navigation-wrapper > .right-column > .nav-links {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 900;
}

.navigation-wrapper > .right-column > .nav-links > .link a:hover{
    color: #A78A7F;
}

.navigation-wrapper > .right-column > .nav-links > .link span {
    font-weight: 900;
    color: #A78A7F;
    text-decoration: none;
}