
.top-content-wrapper {
    width: 100vw;
    height: auto;
    padding-bottom: 20px;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.top-content-wrapper > .shop-genders {
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2c2c2c;
}

.top-content-wrapper > .shop-genders > .shop-item {
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #333333;
    transition: 0.3s ease;
}

.top-content-wrapper > .shop-genders > .shop-item:hover {
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}

.top-content-wrapper > .shop-genders > .shop-item > .text-women {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/landingShopWomen.png);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.top-content-wrapper > .shop-genders > .shop-item > .text-women a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 30px;
    border: 2px solid white;
}

.top-content-wrapper > .shop-genders > .shop-item > .text-men {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/landingShopMen.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.top-content-wrapper > .shop-genders > .shop-item > .text-men a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 30px;
    border: 2px solid white;
}