
.box {
     width: auto;
     height: auto;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
     background: #cea135;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.6rem;
     padding: 50px;
     box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
